
.cselect {
	width: 230px;
	border-radius: 12px;
	margin: 0.8rem 0;
	border: 1px solid var(--text_nom_emphasis);
	transition: all 0.2s ease;
}

.cselect legend {
	padding: 0.2rem 0.4rem;
	font-size: 1rem;
	border-radius: 0.5rem;
	color: var(--text_nom_emphasis);
}


.cselect__radio_wrapper {
	margin: 0.4rem 0;
}

.cselect__radio_wrapper label {
	position: relative;
	transition: all 0.2s ease;
	padding-left: 28px;
	color: var(--text_low_emphasis);
}

.cselect__input {
	width: 0;
	height: 0;
}

.cselect__input:not(:disabled) + label:hover {
	cursor: pointer;
}

.cselect__input:checked + label {
	color: var(--text_high_emphasis);
}

.cselect__input:focus + label {
	color: var(--primary_color);
}

.cselect__input:disabled + label {
	color: var(--text_lowest_emphasis);
}


.cselect__input + label::before {
	content: '';

	position: absolute;
	left: 0;
	width: 18px;
	height: 18px;

	border-radius: 50%;
	border: 2px solid var(--text_lowest_emphasis);
	transition: all 0.2s ease;
}

.cselect__input:checked + label::before {
	border-color: var(--text_high_emphasis);
}

.cselect__input:focus + label::before {
	border-color: var(--primary_color);
	box-shadow: 0 0 0 2px var(--primary_color);
}

.cselect__input:disabled + label::before {
	border-color: var(--text_lowest_emphasis);
}


.cselect__input + label::after {
	content: '';

	width: 10px;
	height: 10px;
	
	position: absolute;
	left: 4px;
	top: 4px;
	
	border-radius: 50%;
	background-color: #666;

	transition: all 0.2s ease;
}

.cselect__input:not(:checked) + label::after {
	opacity: 0;
	transform: scale(0);
}

.cselect__input:checked + label::after {
	opacity: 1;
	transform: scale(1);
}

.cselect__input:focus + label::after {
	background-color: var(--primary_color);
}

.cselect__input:disabled + label::after {
	background-color: var(--text_lowest_emphasis);
}


.cselect--errorneous {
	border: 1px solid var(--error_color);
	animation: ErrorWiggle 0.08s ease-in-out;
}

.cselect--errorneous legend {
	padding: 0.2rem 0.4rem;
	font-size: 1rem;
	border-radius: 0.5rem;

	color: var(--on_error);
	background-color: var(--error_color);
}

@keyframes ErrorWiggle {
	0% {
		transform: translateX(0) scale(1.05);
	}
	25% {
		transform: translateX(+20px) scale(1.05);
	}
	50% {
		transform: translateX(0%) scale(1.05);
	}
	75% {
		transform: translateX(-20px) scale(1.05);
	}
	100% {
		transform: translateX(0) scale(1.05);
	}
}
