
.login_container {
	display: grid;
	place-items: center;
}

.login {
	padding: 1.25rem 0;
}

.login__header {
	text-align: center;
	margin: 1.5rem 0;
	color: var(--text_nom_emphasis);
}

.login_form {
	display: flex;
	flex-direction: column;
}

.login_form .cinput {
	margin: 1rem 0 1.75rem;
}

.login__submit_btn {
	align-self: flex-end;
	margin: 1rem 0;
}
